
/* solo le regole aggiunte al foglio di stile della traccia */

#green {
    grid-area: green;
  }
  
  #orange {
    grid-area: orange;
  }
  
  #yellow {
    grid-area: yellow;
  }
  
  #red {
    grid-area: red;
  }
  
  #blue {
    grid-area: blue;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "green green green"
    "yellow  red blue"
    "yellow  red blue"
    "orange orange blue";
  }
  